<br /><br />
<div class="row">
  <div class="col s12 l4 m5 offset-l4">
    <div class="card-panel bgr-color-theme white-text">
      <h5 class="center">Reset Password</h5>
      <p class="center">Update new password</p>
      <form name="resetPasswordForm" (submit)="resetPassword(resetPasswordForm.value)"[formGroup]="resetPasswordForm">
        <div class="row">
          <div class="input-field col s6 offset-s3">
            <input id="password" [formControl]="resetPasswordForm.controls['password']" name="password" type="password"
                   class="validate" ng-minlength="6" required>
            <label for="password">Password</label>
            <p class="white-text margin-0px" *ngIf="resetPasswordForm.controls['password'].hasError('required') && resetPasswordForm.controls['password'].touched">Password required</p>
          </div>
          <div class="input-field col s6 offset-s3">
            <input id="confirmPassword" [formControl]="resetPasswordForm.controls['confirmPassword']" name="confirmPassword" type="password"
                   class="validate"
                   required>
            <label for="confirmPassword">Confirm Password</label>
            <p class="white-text margin-0px" *ngIf="resetPasswordForm.controls.confirmPassword.errors?.MatchPassword">Password Not Match</p>
          </div>
        </div>
        <div class="row">
          <div class="col s6 offset-s3">
            <button [disabled]="!resetPasswordForm.valid || loading == true"  type="submit" class="btn waves-effect waves-light white black-text">Reset Password<i class="material-icons right">send</i></button>
          </div>
        </div>
        <div class="row">
          <app-spinner *ngIf="loading == true">
          </app-spinner>
        </div>
        <div class="row"*ngIf="afterResponse.status == true">
          <p class="center"><b>{{afterResponse.msg}}</b></p>
        </div>

      </form>
    </div>
  </div>
</div>
